altair
beautifulsoup4
bokeh
bottleneck
cloudpickle
cython
dask
dill
h5py
ipympl
ipywidgets
jupyterlab-git
numba
numexpr
openpyxl
pandas
patsy
protobuf
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
widgetsnbextension
xlrd
pyinstaller
cx_Freeze
pyoxidizer
pydicom
pynetdicom
python-gdcm
pylibjpeg
pillow
